body {
    padding: 0;
    margin: 0;
    display: flex;
}
.nav {
    width: 10vw;
    background-color: #3652ad;
    height: 100vh;
}
.main {
    width: 90vw;
    background-color: gray;
    height: 100vh;
}
.page {
    background-color: black;
    width: 480px;
    height: 100vh;
    margin: 0 auto;
}
